<div id="<%= dom_id grade %>">
  <div class="flex flex-row gap-4 items-center">
    <span class="text-lg font-bold"><%= grade.exam.fullname %></span>
    <span>|</span>
    <span><%= grade.grade %></span>
  </div>
</div>
