<h1 class="text-2xl">grades</h1>

<div>
  <% if @grades.empty? %>
    <p>Currently no grades are assigned</p>
  <% else %>
    <div class="flex flex-col gap-4">
      <% @grades.each do |grade| %>
        <div class="flex flex-row justify-between items-center">
          <%= render grade %>
          <% if !current_user.student? %>
            <%= link_to "Show this grade", grade, class: button_style('show') %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if !current_user.student? %>
  <div>
    <%= link_to "New grade", new_grade_path, class: button_style('create') %>
  </div>
<% end %>
