<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Grades</h1>
    <% if !current_user.student? %>
      <%= link_to "New grade", new_grade_path, class: button_style('create') %>
    <% end %>
  </div>

  <div id="grades" class="min-w-full">
    <% @grades.group_by(&:student).each do |student, grades| %>
      <h2><%= student.fullname %></h2>
      <ul>
        <% grades.each do |grade| %>
          <li><%= grade.grade %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>