<%= render @grade %>

<div>
  <%= link_to "Edit this grade", edit_grade_path(@grade), class: button_style('edit') %> |
  <%= link_to "Back to grades", grades_path, class: button_style('back') %>

  <%= button_to "Destroy this grade", @grade, method: :delete, class: button_style('delete') %>
</div>
