<h1 class="text-3xl">New branch</h1>

<%= render "form", branch: @branch %>

<br>

<div>
  <%= link_to "Back to branches", branches_path, class:"rounded-md p-2 border border-slate-300 bg-slate-200 hover:bg-slate-100" %>
</div>
