<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Show this student", @student, class: button_style('edit') %> |
  <%= link_to "Back to students", students_path, class: button_style('back') %>
</div>
