<h1 class="text-2xl">Students</h1>

<div class="mt-8 space-y-4" id="students">
  <% @students.each do |student| %>
    <div class="flex flex-row justify-between">
      <%= render student %>
      <p>
        <%= link_to "Show this student", student, class: button_style('show') %>
        <%= link_to "Grades Report", grades_report_path(student_id: student.id), class: button_style('edit') %>
      </p>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "New student", new_student_path, class: button_style('create') %>
</div>
