<h1 class="text-3xl">ES-DEV</h1>

<% if user_signed_in? %>
  <p>Welcome <%= current_user.email %></p>
<% else %>
  <p>You have to be logged in to use the plateform.</p>
  <div>
      <%= link_to "Login", new_user_session_path, class: button_style('back') %>
  </div>
<% end %>