<div id="<%= dom_id school_class %>">
  <p>
    <strong>Name:</strong>
    <%= school_class.name %>
  </p>

  <p>
    <strong>School year:</strong>
    <%= school_class.school_year %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= school_class.teacher_id %>
  </p>

</div>
