<h1 class="text-3xl">New school class</h1>

<%= render "form", school_class: @school_class %>

<br>

<div>
  <%= link_to "Back to school classes", school_classes_path, class:"rounded-md p-2 border border-slate-300 bg-slate-200 hover:bg-slate-100" %>
</div>
