<h1>Editing teacher</h1>

<%= render "form", teacher: @teacher %>

<br>

<div>
  <%= link_to "Show this teacher", @teacher, class: button_style('show') %> |
  <%= link_to "Back to teachers", teachers_path, class: button_style('back') %>
</div>
