<p style="color: green"><%= notice %></p>

<h1 class="text-2xl">Teachers</h1>

<div class="mt-8 space-y-4" id="teachers">
  <% @teachers.each do |teacher| %>
    <div class="flex flex-row justify-between">
      <%= render teacher %>
      <p>
        <%= link_to "Show this teacher", teacher %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New teacher", new_teacher_path %>
